rss(version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#")
  channel
    atom:link(href="http://scalatypes.com/rss"
              rel="self"
              type="application/rss+xml")
    title The Scala Types
    pubDate= pubDate.toString
    lastBuildDate= lastBuildDate.toString
    generator Scalate
    link http://scalatypes.com
    language en
    copyright= (c) 2011-2012, The Scala Types
    docs http://scalatypes.com
    managingEditor Yuvi Masory (ymasory@gmail.com)
    description= Scala news, interviews, and opinions
    image
      url http://scalatypes.s3.amazonaws.com/img/ico/icon-114.png
      title The Scala Types
      link http://scalatypes.com
    itunes:author Yuvi Masory
    itunes:email ymasory@gmail.com
    itunes:keywords java,programming,scala
    itunes:category(text="Technology")
      itunes:category(text="Tech News")
    itunes:category(text="Technology")
      itunes:category(text="Software How-To")
    itunes:image http://scalatypes.s3.amazonaws.com/img/ico/icon-114.png
    itunes:explicit clean
    itunes:summary Scala news, interviews, and opinions
    itunes:subtitle Scala news, interviews, and opinions